    <div class="row">
        <div class="col-md-12 border crud-component">
            <div class="row">
                <div class="col-md-4 one">
                    <a ui-sref-active="active" ui-sref="dashboard.thermostat({ thermostatId: home.thermostat.id })">
                        thermostat 1
                    </a>
                </div>
                <div class="col-md-4 two">
                    <a ui-sref="dashboard" ui-sref-active="active">
                        thermostat 2
                    </a>
                </div>
                <div class="col-md-4 three">
                    <a ui-sref="dashboard" ui-sref-active="active">
                        thermostat 3
                    </a>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 border offset-md-9">
            <button ui-sref="create" ui-sref-active="active">Add New</button>
        </div>
    </div>
