
homee
<div>
  <div class="row">
    <div class="col-md-2 border offset-md-10">
        <user-status-component></user-status-component>
    </div>
</div>
  <div class="row">
      <div class="col-md-5 border offset-md-4">
          <navbar-component></navbar-component>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12 border crud-component">
        <ui-view></ui-view>
          <!-- <create-thermostat></create-thermostat>
          <delete-thermostat></delete-thermostat>
          <update-thermostat></update-thermostat>
          <get-thermostat></get-thermostat>
          <get-all-thermostats></get-all-thermostats> -->
      </div>
  </div>
  <div class="row">
    <div class="col-md-12 border">
        <footer-component></footer-component>
    </div>
</div>
</div>
